/* form{
    background-color: rgba(207, 224, 231, 0.228);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px rebeccapurple;
} */


.signup_line {
    display: flex;
    flex-direction: row;
  }
  .signup_line:before, .signup_line:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(198, 198, 242);
    margin: auto;
  }
  .signup_line:before {
    margin-right: 10px
  }
  .signup_line:after {
    margin-left: 10px
  }