.footer-effect{
    transition: all 0.3s ease;
    position: relative;
    outline: none;
  }
  
  .footer-hover:hover {
    color: #f580a1;
    color: rgb(53, 254, 174);
   
    background: transparent;
    box-shadow: none;
  }
  
  /* .btn-nav:before, */
  .footer-hover:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    transition: 400ms ease all;
  }
  
  .footer-hover:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  
  /* .btn-nav:hover:before, */
  .footer-hover:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
  