@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: #000814;
    color: #fff;
}

/* 
000814
1b1b1e
*/

.active {
    @apply text-[#84a98c] underline underline-offset-8;
}

.default {
    @apply no-underline;
}

.input-field {
    @apply w-full border-b-2 border-[#84a98c] rounded-md px-2 py-1 box-border mb-2 focus:outline-none focus:border-[#344e41] focus:bg-[#f8f9fa]
}

/* carousel */
.carousel .thumbs-wrapper {
    display: none;
}

.grayscale {
    filter: grayscale(95%);
    transition: filter 0.3s ease-in-out; 
}

.group:hover .grayscale {
    filter: grayscale(0%);
}

/* testimonial */
/* .carousel-container .react-multiple-carousel__arrow .react-multiple-carousel__arrow--right {
    display: none !important;
} */

/* #google_translate_element select{
    background-color:#f6edfd;
    color:#383ffa;
    border: none;
    border-radius:3px;
    padding:6px 8px
} */

/* .goog-te-banner-frame{
    display:none !important;
} */

/* #google_translate_element {
    display: none !important;
}
  

#google_translate_element .goog-te-gadget {
    display: none !important;
} */