@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dark {
  background-color: #011627;
  color: #fff;
} */

.dark {
  @apply bg-gradient-to-l from-gray-700 via-gray-900 to-black text-white
}

.night {
  @apply bg-gradient-to-l from-[#0d1b2a] via-[#778da9] to-[#03071e] text-white
}

.disabled-button:hover {
  cursor: not-allowed; 
}

.disable-icon {
  margin-right: 4px; 
}

/* 
000814
1b1b1e
*/

.active {
  @apply text-[#48cae4] underline underline-offset-8;
}

.light-active {
  @apply text-[#3c6e71] underline underline-offset-8;
}

.default {
  @apply no-underline;
}

.input-field {
  @apply w-full border-b-2 border-[#3c6e71] rounded-md px-2 py-1 box-border mb-2 focus:outline-none focus:border-[#335c67] focus:bg-[#f8f9fa];
}

/* carousel */
.carousel .thumbs-wrapper {
  display: none;
}

.grayscale {
  filter: grayscale(95%);
  transition: filter 0.3s ease-in-out;
}

.group:hover .grayscale {
  filter: grayscale(0%);
}

.quiz-category-effect {
  @apply font-[Cinzel] hover:bg-[#335c67] hover:w-[calc(100%+20px)] duration-700  hover:text-white hover:scale-105 p-2 hover:rounded-e-2xl;
}

.quiz-category-effects {
  @apply font-[Cinzel] hover:bg-[#335c67] hover:w-[calc(100%+20px)] duration-700 hover:text-white hover:scale-105 p-2 hover:rounded-e-2xl;
}

.testimonial {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 74.60%, 20.00% 139.64%, 40.00% 193.34%, 60.00% 228.16%, 80.00% 239.20%, 100.00% 224.91%);
}

#google_translate_element select{
    background-color:#f0efeb;
    color: black;
    border: none;
    border-radius:3px;
    padding: 0;
}

.secondary-button {
  width: 100%;
  margin-bottom: 8px;
  border-bottom-width: 4px;
  border-bottom-color: #3c6e71;
  border-bottom-style: solid;
  color: #3c6e71;
  border-radius: 0.25rem;
  padding: 8px 16px;
  border-radius: 8px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* Hover styles */
.secondary-button:hover {
  background-color: #3c6e71;
  color: white;
}
