@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-gradient-to-l from-gray-700 via-gray-900 to-black text-white
}

.night {
  @apply bg-gradient-to-l from-[#22223b] via-[#4a4e69] to-[#1b263b] text-white
}


/* nav bg for mobile */


.dark-nav {
  @apply bg-gradient-to-tl from-gray-700 to-black text-white
}


.night-nav {
  @apply bg-gradient-to-bl from-[#1b263b] to-[#22223b] text-white
}


/* nav bg for mobile */

.dark-active {
  @apply text-[#48cae4] underline underline-offset-8;
}


.night-active {
  @apply text-[#b79ced] underline underline-offset-8;
}


.light-active {
  @apply text-[#3c6e71] underline underline-offset-8;
}


.default {
  @apply no-underline;
}


.input-field-ssl {
  @apply w-full text-black border-b-2 border-[#84a98c] rounded-md px-2 py-1 box-border mb-2 focus:outline-none focus:border-[#344e41] focus:bg-[#f8f9fa];
}

.input-field {
  @apply w-full text-black border-b-2 border-[#84a98c] rounded-md px-2 py-1 box-border mb-2 focus:outline-none focus:border-[#344e41] focus:bg-[#f8f9fa];
}


/* carousel */


.carousel .thumbs-wrapper {
  display: none;
}


.grayscale {
  filter: grayscale(95%);
  transition: filter 0.3s ease-in-out;
}


.group:hover .grayscale {
  filter: grayscale(0%);
}


/* carousel */


/* trending post */


.trending-post {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 72.50%, 2.00% 70.89%, 4.00% 69.25%, 6.00% 67.62%, 8.00% 66.02%, 10.00% 64.48%, 12.00% 63.04%, 14.00% 61.72%, 16.00% 60.55%, 18.00% 59.55%, 20.00% 58.74%, 22.00% 58.13%, 24.00% 57.73%, 26.00% 57.56%, 28.00% 57.62%, 30.00% 57.90%, 32.00% 58.40%, 34.00% 59.11%, 36.00% 60.01%, 38.00% 61.10%, 40.00% 62.35%, 42.00% 63.73%, 44.00% 65.22%, 46.00% 66.79%, 48.00% 68.41%, 50.00% 70.05%, 52.00% 71.67%, 54.00% 73.26%, 56.00% 74.77%, 58.00% 76.18%, 60.00% 77.46%, 62.00% 78.59%, 64.00% 79.54%, 66.00% 80.30%, 68.00% 80.85%, 70.00% 81.19%, 72.00% 81.29%, 74.00% 81.18%, 76.00% 80.84%, 78.00% 80.28%, 80.00% 79.51%, 82.00% 78.55%, 84.00% 77.42%, 86.00% 76.14%, 88.00% 74.72%, 90.00% 73.21%, 92.00% 71.62%, 94.00% 70.00%, 96.00% 68.36%, 98.00% 66.74%, 100.00% 65.17%);
}


/* trending post */



.quiz-category-effect {
  @apply font-[Cinzel] hover:bg-[#344e41] hover:w-[calc(100%+20px)] duration-700  hover:text-white hover:scale-105 p-2 hover:rounded-e-2xl;
}


.quiz-category-effects {
  @apply font-[Cinzel] hover:bg-[#344e41] hover:w-[calc(100%+20px)] duration-700 hover:text-white hover:scale-105 p-2 hover:rounded-e-2xl;
}


/* #google_translate_element select{
    background-color:#f0efeb;
    color: black;
    border: none;
    border-radius:3px;
    padding: 0;
} */


/* testimonial */


.testimonial-wave {
  clip-path: polygon(100% 0%, 0% 0% , 0.00% 86.50%, 2.00% 86.25%, 4.00% 85.52%, 6.00% 84.32%, 8.00% 82.71%, 10.00% 80.73%, 12.00% 78.46%, 14.00% 75.98%, 16.00% 73.38%, 18.00% 70.75%, 20.00% 68.17%, 22.00% 65.76%, 24.00% 63.58%, 26.00% 61.71%, 28.00% 60.23%, 30.00% 59.19%, 32.00% 58.61%, 34.00% 58.53%, 36.00% 58.94%, 38.00% 59.83%, 40.00% 61.17%, 42.00% 62.92%, 44.00% 65.00%, 46.00% 67.35%, 48.00% 69.88%, 50.00% 72.50%, 52.00% 75.12%, 54.00% 77.65%, 56.00% 80.00%, 58.00% 82.08%, 60.00% 83.83%, 62.00% 85.17%, 64.00% 86.06%, 66.00% 86.47%, 68.00% 86.39%, 70.00% 85.81%, 72.00% 84.77%, 74.00% 83.29%, 76.00% 81.42%, 78.00% 79.24%, 80.00% 76.83%, 82.00% 74.25%, 84.00% 71.62%, 86.00% 69.02%, 88.00% 66.54%, 90.00% 64.27%, 92.00% 62.29%, 94.00% 60.68%, 96.00% 59.48%, 98.00% 58.75%, 100.00% 58.50%);
}


/* testimonial */



/* user profile */

.secondary-button-light {
  @apply w-full mb-2 border-b-2 border-[#3c6e71] border-solid text-[#3c6e71] rounded py-2 px-4 transition duration-300 ease-in-out hover:bg-[#3c6e71] hover:text-white;
}


.secondary-button-dark {
  @apply w-full mb-2 border-b-2 border-[#48cae4] border-solid text-[#48cae4] rounded py-2 px-4 transition duration-300 ease-in-out hover:bg-[#48cae4] hover:text-black;
}

.secondary-button-night {
  @apply w-full mb-2 border-b-2 border-[#b79ced] border-solid text-[#b79ced] rounded py-2 px-4 transition duration-300 ease-in-out hover:bg-[#b79ced] hover:text-black;
}


.outline-btn-light {
  @apply border border-[#3c6e71] text-[#3c6e71] rounded-lg px-4 py-2 hover:bg-[#3c6e71] hover:text-black transition duration-300 ease-in-out
}


.outline-btn-dark {
  @apply border border-[#48cae4] text-[#48cae4] rounded-lg px-4 py-2 hover:bg-[#48cae4] hover:text-black transition duration-300 ease-in-out
}


.outline-btn-night {
  @apply border border-[#b79ced] text-[#b79ced] rounded-lg px-4 py-2 hover:bg-[#b79ced] hover:text-black transition duration-300 ease-in-out
}


.posts-action-btn {
  @apply font-[Cinzel] hover:underline underline-offset-4 hover:scale-110 duration-700
}

/* user profile */


/* single message */

.dark-right {
  @apply bg-gradient-to-l from-gray-700 via-gray-900 to-black text-white
}


.dark-left {
  @apply bg-gradient-to-l from-black via-gray-900 to-gray-700 text-white
}


.night-left {
  @apply bg-gradient-to-l from-[#1b263b] to-[#22223b] text-white
}


.night-middle {
  @apply bg-gradient-to-bl from-[#22223b] via-[#415a77] to-[#1b263b] text-white
}


.night-right {
  @apply bg-gradient-to-r to-[#1b263b] from-[#22223b] text-white
}


.message-btn-light {
  @apply text-white bg-[#3c6e71] hover:bg-[#84a98c]
}


.message-btn-dark {
  @apply text-white bg-gray-400 hover:bg-[#48cae4]
}


.message-btn-night {
  @apply text-white bg-[#0d1b2a] hover:bg-[#b79ced]
}

/* single message */

@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Define the zoom-out animation */
@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/* Apply zoom-in animation when the modal content appears */
.animate-zoom-in {
  animation: zoom-in 0.8s ease-out;
}

/* Apply zoom-out animation when the modal content disappears */
.zoom-in-out-modal[data-enter] .animate-zoom-in,
.zoom-in-out-modal[data-leave] .animate-zoom-out {
  animation: zoom-out 0.8s ease-out;
}





.buttonBody{
  display: grid;
  height: 100%;
  place-items: center;
  background: #000;
}
.icons{
  display: inline-flex;
}
.icons a{
  margin: 0 7px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.icons a .layer{
  width: 32px;
  height: 32px;
  transition: transform 0.3s;
}
.icons a:hover .layer{
  transform: rotate(-35deg) skew(20deg);
}
.icons a .layer span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.icons a .layer span.fab{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
.icons a:hover .layer span:nth-child(1){
  opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2){
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3){
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4){
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5){
  opacity: 1;
  transform: translate(20px, -20px);
}
.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text{
  color: #4267B2;
  border-color: #4267B2;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
  color: #1DA1F2;
  border-color: #1DA1F2;
}
.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text{
  color: #E1306C;
  border-color: #E1306C;
}
.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text{
  color: #2867B2;
  border-color: #2867B2;
}
.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text{
  color: #ff0000;
  border-color: #ff0000;
}
.icons a:hover:nth-child(1) .layer span{
  box-shadow: -1px 1px 3px #4267B2;
}
.icons a:hover:nth-child(2) .layer span{
  box-shadow: -1px 1px 3px #1DA1F2;
}
.icons a:hover:nth-child(3) .layer span{
  box-shadow: -1px 1px 3px #E1306C;
}
.icons a:hover:nth-child(4) .layer span{
  box-shadow: -1px 1px 3px #2867B2;
}
.icons a:hover:nth-child(5) .layer span{
  box-shadow: -1px 1px 3px #ff0000;
}
.icons a .text{
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons a:hover .text{
  bottom: -35px;
  opacity: 1;
}